html,
body,
div#root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Roboto, Arial;
  background: #0a0a0a;
  color: #ffffff;
}

.Container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
  padding-top: 22px;
  @media (min-width: 992px) and (max-width: 1199.98px) {
    max-width: 960px;
  }
  @media (min-width: 768px) and (max-width: 991.98px) {
    max-width: 720px;
  }
  @media (min-width: 576px) and (max-width: 767.98px) {
    max-width: 540px;
  }
  @media (max-width: 575.98px) {
    max-width: 100%;
  }
}

.Home {
  text-align: center;
  .Home__title {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 12px;
  }
  .Home__subtitle {
    padding-bottom: 12px;
  }
  .Home__select {
    padding-top: 12px;
    padding-left: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .Home__select-file {
    position: relative;
    padding: 12px 24px;
    background: #454647;
    border-radius: 10px;
    margin: 12px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    &:hover {
      opacity: 0.6;
    }
    input {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      height: 100%;
      opacity: 0;
    }
  }
  .Home__crop {
    padding: 12px;
    padding-top: 0;
  }
}

.Button {
  text-align: center;
  padding: 12px 24px;
  background: #454647;
  border-radius: 10px;
  margin: 12px;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  &.disable {
    opacity: 0.6;
  }
}


.Select {
  text-align: center;
  margin: 12px;
  select {
    padding: 12px 24px;
    background: #454647;
    border-radius: 10px;
    max-width: 348px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
  }
}
